# Godot 4+ specific ignores
.godot/
/android/
/calcs/
assets/music/drivingspeeds/drivingspeeds.aup3
assets/music/drivingspeeds/drivingspeeds.aup3-shm
assets/music/drivingspeeds/drivingspeeds.aup3-wal
